<!-- ノード編集画面ならtrue, フローの開始点作成画面ならfalse -->
<!-- パーシャル呼び出し元から、editing: true/false を受け取る。デフォルトはfalse -->
<% editing = local_assigns.fetch(:editing, false) %>

<% if editing %>
  <div class="flex items-center m-4">
    <h2 class="text-lg font-bold mr-2">ノード編集</h2>
    <div class="tooltip tooltip-right" data-tip="ステップガイドを開始" data-action="click->step-guide#startNodeGuide">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z" />
      </svg>
    </div>
  </div>
<% else %>
  <h2 class="text-lg font-bold mr-2">フローの開始点を新規作成</h2>
<% end %>
