<div class="min-h-screen px-4 py-6 bg-base-100 space-y-6">

<h1 class="text-2xl font-bold text-primary m-4">Techniques</h1>

  <div class="flex flex-col gap-4 md:flex-row md:items-center md:justify-center ">
  <!-- 検索・フィルター
    <input
      type="text"
      placeholder="Search techniques"
      class="input input-bordered w-full max-w-xs"
      /> -->

    <div class="flex gap-2">
      <!-- 並び替えドロップダウン 
      <div class="dropdown">
        <label tabindex="0" class="btn btn-sm btn-outline flex items-center gap-1">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8h18M3 16h18" />
          </svg>
          新しい順
          <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
          </svg>
        </label>
        <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-40 z-[1]">
          <li><a>新しい順</a></li>
          <li><a>古い順</a></li>
          <li><a>名前順</a></li>
        </ul>
      </div> -->
    </div>
    <div class="flex justify-center">
      <%= link_to '新規作成', new_mypage_technique_path, class: "btn btn-primary text-lg btn-wide" %>
    </div>
  </div>

  <div class="space-y-10 items-center w-80 mx-auto">
    <% if @techniques.present? %>
      <% @techniques.each do |technique| %>
        <%= link_to edit_mypage_technique_path(technique.id) do %>
          <div class="flex flex-row card bg-base-200 shadow-md mb-2">
            <div class="card-body items-start p-4">
              <% if technique.category%>
                <span class="badge badge-soft"><%= technique.category.humanize %></span>
              <% else%>
                <span class="badge badge-ghost">未分類</span>
              <% end %>
              <span class="text-lg font-medium" ><%= technique.name %></span>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else%>
      <div class="mt-10">
        <p class="text-gray-500">表示するテクニックがありません。<br>「新規作成」ボタンから追加してみましょう！</p>
      </div>
    <% end %>
  </div>
</div>
