<div class="flex flex-col space-y-8 my-8 text-center items-center justify-center" data-controller="step-guide">
  <h1 class="text-5xl font-extrabold">Flowque へ<br>ようこそ！</h1>
  <button data-action="click->step-guide#startMenuGuide" class="btn btn-primary">ステップガイドを始める</button>

  <!-- i18n対応(要:ERB記載)＋ハイライトエレメントなしのステップ作成(要JS記載)を両立させるため、ERBに記載した内容を step_guide_controller.js に渡す -->
  <div id="step0" data-title-text="ようこそ！" data-intro-text="このガイドでは Flowque の各メニューについて説明します。" class="hidden"></div>
  <ul class="menu text-lg">
    <li id="step1" data-title-text="STEP 1" data-intro-text="テクニック一覧を確認することができます。<br>練習中に気がついたことをテクニックごとに記録しておきましょう。" >
      <%= link_to mypage_techniques_path, class: "mx-auto" do %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
          <path fill-rule="evenodd" d="M2.625 6.75a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Zm4.875 0A.75.75 0 0 1 8.25 6h12a.75.75 0 0 1 0 1.5h-12a.75.75 0 0 1-.75-.75ZM2.625 12a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0ZM7.5 12a.75.75 0 0 1 .75-.75h12a.75.75 0 0 1 0 1.5h-12A.75.75 0 0 1 7.5 12Zm-4.875 5.25a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Zm4.875 0a.75.75 0 0 1 .75-.75h12a.75.75 0 0 1 0 1.5h-12a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
        </svg>
        <span>Techniques</span>
      <% end %>
    </li>
    
    <li id="step2" data-title-text="STEP 2" data-intro-text="テクニックの展開を流れ図で可視化することができます。<br>試合の流れを整理するのに便利です。">
      <%= link_to mypage_chart_path(@chart.id), class: "mx-auto" do %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
          <!-- 左中央ノード -->
          <circle cx="6" cy="12" r="2.5" />
          <!-- 右上ノード -->
          <circle cx="14" cy="6" r="2.5" />
          <!-- 右中央ノード -->
          <circle cx="18" cy="12" r="2.5" />
          <!-- 右下ノード -->
          <circle cx="14" cy="18" r="2.5" />
          <!-- 線（左→右上） -->
          <line x1="6" y1="12" x2="14" y2="6" stroke="currentColor" stroke-width="1.5" />
          <!-- 線（左→右中央） -->
          <line x1="6" y1="12" x2="18" y2="12" stroke="currentColor" stroke-width="1.5" />
          <!-- 線（左→右下） -->
          <line x1="6" y1="12" x2="14" y2="18" stroke="currentColor" stroke-width="1.5" />
        </svg>
        <span>Flow Chart</span>
      <% end %>
    </li>

    <li id="step3" data-title-text="その他設定" data-intro-text="ログイン中のユーザーのプロファイルを確認することができます。">
      <%= link_to "#", class: "mx-auto" do %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
          <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
        </svg>
        <span>Settings</span>
      <% end %>
    </li>

    <div id="step4" data-intro-text="メニューの説明は以上です。<br><br>
      まず何をすればよいか分からない方は Techniques メニューを開き、左上にある「?」をクリックしてみましょう！" class="hidden"></div>
  </ul>
</div>
