<div class="flex justify-center m-8">
  <%= button_to user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: false }, class: "btn btn-outline" do %>
    <img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="google logo" class="w-6 h-6" loading="lazy">
    <span>Google でログイン</span>
  <% end %>
</div.
