@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
	name: "winter";
	default: true;
	prefersdark: true;
}

/* @import "tom-select/dist/css/tom-select.css" */
/* @import "tom-select/dist/css/tom-select.bootstrap5.css" */
@import "tom-select/dist/css/tom-select.bootstrap4.css"
