@import "tailwindcss";

:root {
  --font-bebas: "Bebas Neue", sans-serif;
}

@theme {
  --font-bebas: var(--font-bebas);
}

@plugin "@tailwindcss/typography";

@plugin "daisyui";
@plugin "daisyui/theme" {
	name: "winter";
	default: true;
	prefersdark: true;
	--color-primary: oklch(42.551% 0.161 282.339);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(41.886% 0.053 255.824);
  --color-secondary-content: oklch(97% 0.014 308.299);
  --color-accent: #0088CC;
  --color-accent-content: oklch(98% 0.014 180.72);
}

/* @import "tom-select/dist/css/tom-select.css" */
/* @import "tom-select/dist/css/tom-select.bootstrap5.css" */
@import "tom-select/dist/css/tom-select.bootstrap4.css";
@import "intro.js/introjs.css";

@font-face {
  font-family: 'Bebas Neue';
  src: url('/assets/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
